@import '~antd/dist/antd.css';

.navHeaderMenu {
    line-height: 60px;
    height: 61px;
}
body{
    overflow-y: visible;
}

.navSearch {
    justify-content: flex-end;
}

.ml-3 {
    width: 30%!important;
}

.main-content .header-navbar, .main-content>.main-navbar {
    border-bottom: 1px solid #d8d5d5;
    box-shadow: none!important;
}

.main-sidebar {
    border-right: 1px solid #d8d5d5;
    box-shadow: none!important;
}

.ant-form{
    padding: 1% 2%!important;
}

.successmsg{
    color:green;
    font-size:18px;
}

.errormsg{
    color:red;
    font-size:18px;
}
.main-navbar{
    border-bottom: 1px solid #d8d5d5!important;
}
header nav.navbar.navbar-dark.fixed-top.bg-dark.row{
	padding:0rem 1rem !important;
}
.summary {
    border: 1px solid #696464;
    background: #dce6f2;
}
.header label {
    color: #fff;
    margin: 0 auto;
    padding-right: 0.5rem;
    font-size:13px!important;
}
.header input.btn.btn-secondary {
    padding: 0.45rem 0.7rem !important;
    font-size: 0.875rem !important;
    margin: 0 0.5rem 0 0;
}
.header .form-group {
    margin-bottom: 0rem;
}
form.header{
    flex-direction: column;
    align-items: flex-start!important;
}
.form-group-info {
    align-content: center;
    display: flex;
    align-items: center;
}
.form-group-info.header-logo {
    display: block;
}
.form-group-info.header-logo .left-sec,.form-group-info.header-logo .right-sec {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 0 !important;
}
.form-group-info.header-logo .right-sec {
    font-size:10px!important;
}
.form-group-info .ant-select-selection--single {
    min-width: 100px!important;
    font-size: 12px!important;
}
.header .form-group .col-form-label {
    padding: calc(.375rem + 1px) !important;
}
.header .header-logo-text{padding-left: 0.475rem  !important;font-size: 0.675rem !important;}
.header .form-control {
    padding: 0.25rem;
}
.content-row{
	padding: 1rem !important;
	margin: 0 auto !important;
}
ul.list-group {
    margin: 10px auto;
}
.list-group-item {
	padding: .5rem 1.25rem;
}
.remove-border{
	border-right:none;
}
.header{
    background-color: #b30838!important;
}
.download-button {
    padding: 10px 20px;
    border-radius: 5px;
    display: block;
    width: 130px;
    margin: 10px auto 0px auto;
}
.cta-section {
	min-height:65vh;
	margin: 0 auto;
	text-align: center;
	justify-content: center;
	align-items: center;
}
.cta-section .cs-btn-group .btn {
    width: 100%;
    padding: 0.5rem 1rem !important;
    position: relative;
    margin: 0 0 0.5rem 0;
}
div#chartContainer2,div#chartContainer1 {
    width: 100%;
    border: 1px solid #ccc;
    padding: 1rem;
}
table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: gray;
    margin: 3px 70px 50px 15.5px;
}
.main-navbar .navbar .nav-link {
    background-color: #b30838 !important;
}
.main-navbar .navbar .dropdown-toggle::after {
    position: relative;
    right: 10px;
}
.align-content-between {
    width: 52%!important;
    margin: 0% 40%;
}
.align-content-between .test_exection {
    margin-top:20%;
}
.align-content-between .open_defects {
    margin-top:122%;
}
.summary_table .ant-table-bordered .ant-table-thead > tr > th{
    background-color: #b30838 !important;
    color:white!important;
}

.form-group-info.header-logo {
  display: block;
  display: block;
  position: relative;
  bottom: 17px;
  right: 10px;
}
.form-group-info.header-logo .left-sec,
.form-group-info.header-logo .right-sec {
  display: block;
  /* width: 100%; */
  margin: 0 auto;
  padding: 0 !important;
}
.form-group-info.header-logo .right-sec {
  font-size: 10.5px !important;
  text-transform: capitalize;
}
/* .header .header-logo-text {
  padding-left: 0.475rem !important;
  font-size: 0.675rem !important;
} */
.ant-btn-primary {
  background-color: #b30838;
  border-color: #b30838;
  font-weight: bold;
  font-size: 14px !important;
  min-width: 13% !important;
  padding: 0% 1% !important;
}
.ant-btn-primary:active, .ant-btn-primary.active {
  color: #fff;
  font-size: 15px;
  background-color: #b30838;
  border-color: #b30838;
}
.ant-btn-primary:hover, .ant-btn-primary:focus {
  color: #fff;
  background-color: #b30838;
  border-color: #b30838;
}
.page-wrapper {
  background-color: #fff !important;
  margin: 1rem !important;
  border-radius: 4px;
}
.content-align{
  padding-left: 250px;
  padding-bottom: 20px;
  font-weight: bolder;
}
.content-title{
  font-size: 20px;
  font-weight: bolder;
  padding-left: 250px;
  padding-bottom: 40px;
  padding-top: 40px;
}
.exp-text{
  color: white;
  font-size: 14px;
  font-weight: 500px;
}
.form-group-info.header-logo .left-sec,
.form-group-info.header-logo .right-sec {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 0 !important;
}
.pv_logo {
  width: 280px !important;
  margin: 0% !important;
  cursor: pointer;
  border-radius: 3px;
}

.main-navbar .navbar>* {
  display: flex;
  background-color: #b30838;
  border-left: 0px solid #e1e5eb!important;
}
.header-btn{
  background-color: #b50939 !important;
  border-color: white !important;
  color: white !important;
  margin-left: 10px;
}
